/* leaflet  */
#myMap {
  height: 400px;
 }
 #start {
   padding: 1em;
border: none;
margin: 50px 0;
font-weight: 900;
color: white;
background: red;
position: relative;
left: 50%;
transform: translateX(-50%);
transition:all 400ms linear;
 }
 #start:hover {
   margin: 40px 0;

 }
